@model IEnumerable<SectionViewModel>

<h2>Категории</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var parentSection in Model.Where(section => section.ChildSections.Count > 0 || section.ProductsCount > 0))
    {
        if (parentSection.ChildSections.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#@parentSection.GetHashCode()">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @parentSection.Name
                        </a>
                    </h4>
                </div>
                <div id="@parentSection.GetHashCode()" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var childSection in parentSection.ChildSections.Where(section => section.ProductsCount > 0))
                            {
                                <li><a asp-controller="Catalog" asp-action="Shop" asp-route-SectionId="@childSection.Id">@childSection.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a asp-controller="Catalog" asp-action="Shop" asp-route-SectionId="@parentSection.Id">@parentSection.Name</a></h4>
                </div>
            </div>
        }
    }
</div><!--/category-productsr-->
